// =======================================================================
// Configuration
// =======================================================================

// Imports
// =======================================================================

@import "bourbon/bourbon";
@import "font-awesome/font-awesome";
@import "reset";
@import "fonts";
@import "animate";

// Variables
// =======================================================================

// Breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Base colors
$white: #fff;
$black: #000;

// Type
$text: $white;

// Background
$bg-home: #7acec3;
$bg-works: #ebb240;

// Menu
$menu-size: 2.5em;
$menu-thickness: .3em;
$menu-gap: .4em;
$menu-color: transparentize($white, .5);

// Body styles
$bg-home--0: lighten($bg-home, 9);
$bg-home--1: lighten($bg-home, 4);
$bg-home--2: lighten($bg-home, 7);
$bg-home--3: lighten($bg-home, 1);
$bg-home--4: lighten($bg-home, 6);
$bg-home--5: darken($bg-home, 2);
$bg-home--6: darken($bg-home, 8);
$bg-home--7: darken($bg-home, 4);
$bg-home--8: darken($bg-home, 7);
$bg-home--9: darken($bg-home, 5);

$bg-works--0: lighten($bg-works, 9);
$bg-works--1: lighten($bg-works, 4);
$bg-works--2: lighten($bg-works, 7);
$bg-works--3: lighten($bg-works, 1);
$bg-works--4: lighten($bg-works, 6);
$bg-works--5: darken($bg-works, 2);
$bg-works--6: darken($bg-works, 8);
$bg-works--7: darken($bg-works, 4);
$bg-works--8: darken($bg-works, 7);
$bg-works--9: darken($bg-works, 5);

$styles-home: $bg-home--0 $bg-home--1 $bg-home--2 $bg-home--3 $bg-home--4 $bg-home--5 $bg-home--6 $bg-home--7 $bg-home--8 $bg-home--9;
$styles-works: $bg-works--0 $bg-works--1 $bg-works--2 $bg-works--3 $bg-works--4 $bg-works--5 $bg-works--6 $bg-works--7 $bg-works--8 $bg-works--9;

// Animation
// =======================================================================

@keyframes linea {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}

// =======================================================================
// Main structure
// =======================================================================

// Loading
// =======================================================================

.loading {
  width: 100%;
  height: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s ease;
}

.is-loading .loading {
  opacity: 1;
}


// Base and resets
// =======================================================================

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden; 
  color: $text;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
  padding: 2em;
  transition: background-color .5s ease;
  
  @media screen and (min-width: $screen-sm-min) {
    min-height: 100vh;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    width: 2px;
    animation: linea 2s ease;
    animation-iteration-count: 1;
    background-color: transparentize($text, .8);
    left: 65%;
    top: -2%;
    height: 50%;

    @media screen and (min-width: $screen-sm-min) {
      top: 0;
      left: 70%;
      height: 80%;
    }

    @media screen and (min-width: $screen-sm-min) {
      height: 100%;
      background-color: transparentize($text, .5);
    }
  }
}

// Navigation
// =======================================================================

header {
  text-align: right;
  position: absolute;
  padding: 2em;
  top: 0;
  right: 0;
  width: 100%;
  @extend clearfix;

  .logo {
    display: block;
    margin-bottom: 2em;
    z-index: 2;
    @media screen and (max-width: $screen-xs-max) { float: right; }

    svg {
      @extend .animated;
      width: 6em;
      height: auto;

      path { fill: $white; }
    }

    &:hover svg {
      animation: pulse .8s ease;
    }
  }

  .menu-trigger {
    float: left;
    margin-top: 2em;

    @media screen and (min-width: $screen-sm-min) {
      display: none;
    }    

    *,
    *:before,
    *:after { transition: all .3s ease; }
    input {
        display: none;
    }
    label {
        display: block;
        width: $menu-size;
        height: ($menu-thickness * 3 + $menu-gap * 2);
        position: relative;
        span {
            position: relative;
            top: $menu-thickness + $menu-gap;
            &, &:before, &:after {
                display: block;
                background: $menu-color;
                width: $menu-size;
                height: $menu-thickness;
                border-radius: $menu-thickness / 2;
            }
            &:before,
            &:after {
                content: '';
                position: absolute;
            }
            &:before {
                bottom: $menu-gap + $menu-thickness;
            }
            &:after {
                top: $menu-gap + $menu-thickness;
            }
        }
    }
    :checked ~ label span {
        width: 0;
        &:before {
            transform: rotate(45deg);
            bottom: 0;
        }
        &:after {
            transform: rotate(-45deg);
            top: 0;
        }
    }
}
  

  nav {
    @media screen and (max-width: $screen-xs-max) {
      position: fixed;
      z-index: 1;
      background-color: $white;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-align: center;
      display: none;
      transition: background-color .5s ease;
    }

    li {
      margin-bottom: 1em;
      animation: fadeInDown .8s ease;
      @extend .animated;

      a {
        font-size: 2em;
        font-weight: 400;
        color: $text;
        display: block;
        backface-visibility: hidden;
        text-transform: uppercase;
        transition: transform .3s ease-in-out, opacity .3s ease;
        
        &:hover {
          transform: translate3d(-.5em, 0, 0);
          opacity: .7;
        }
      }
    }
  }
}

// Active links
.section-works .menu-works,
.section-about .menu-about,
.section-contact .menu-contact {
  font-size: 4em;

  // reset hover
  &:hover {
    transform: translate3d(0, 0, 0);
    opacity: .9;
  }
}

// Container
// =======================================================================

main {
  @media screen and (max-width: $screen-xs-max) {
    margin-top: 6em;
  }

  p {
    font-size: 1.4em;
    margin: .5em 0;
  }
}

// Modifier: HOME
// =======================================================================

.section-home {
  background-color: $bg-home;

  main {
    @media screen and (min-width: $screen-sm-min) {
      position: absolute;
      bottom: 2em;
    }
  }

  h1 {
    color: $text;
    letter-spacing: -.1em;
    text-transform: uppercase;
    margin-bottom: .3em;
    font-weight: 400;
    position: relative;
    width: auto;
    display: inline-block;
    transition: letter-spacing .5s ease-in-out, color .5s ease;
    font-size: 4em;
    line-height: .8em;
    
    @media screen and (min-width: $screen-sm-min) {
      font-size: 6em;
      line-height: 1;
    }

    &:after {
      content: '';
      width: 0;
      height: 2px;
      display: block;
      background-color: #a3f7ec;
      transition: width .5s ease;
    }
    
    &:hover {
      letter-spacing: -.06em;
      color: #e0fbf8;
      &:after { width: 100%; }
    }
  }

  .tagline {
    font-size: 1.6em;
    font-weight: 400;
    margin-top: 1em;
  }

  .social {
    margin-top: 2em;
    li {
      display: inline-block;
      margin-right: 1em;
      
      a {
        color: transparentize($text, .5);
        display: block;
        font-size: 1.4em;
        transition: transform .3s ease,
          color .3s ease;
        
        &:hover {
          color: transparentize($text, .2);
          transform: scale(1.1);
        }
      }
    }
  }
}

// Modifier: WORKS
// =======================================================================

.section-works {
  background-color: $bg-works;

}

// Body styles
// =======================================================================

// Home loop
@for $i from 1 through length($styles-home) {
    .bg-home--#{$i} {
        background-color: nth($styles-home, $i);
    }
}

// Works loop
@for $i from 1 through length($styles-works) {
    .bg-works--#{$i} {
        background-color: nth($styles-works, $i);
    }
}

// =======================================================================
// Media queries
// =======================================================================

@media screen and (max-width: $screen-xs-max) { 
  .nav-open {
    nav {
      display: block;

      ul {
        margin-top: 50%;
        li {
          margin-bottom: 1.5em;
          a { font-size: 3em; }
        }

      }
    }

    .logo {
      position: absolute;
      right: 2em; // simulate position of logo
    }

    .menu-trigger {
      position: absolute;
      z-index: 2;
    }

    &.section-home {
      header {
        svg path {
          fill: $bg-home;
        }

        nav a { color: $bg-home; }

        .menu-trigger :checked ~ label span,
        .menu-trigger :checked ~ label span:before,
        .menu-trigger :checked ~ label span:after { background-color: $bg-home; }
      }
    }

    &.section-works {
      header {
        svg path {
          fill: $bg-works;
        }

        nav a { color: $bg-works; }

        .menu-trigger :checked ~ label span,
        .menu-trigger :checked ~ label span:before,
        .menu-trigger :checked ~ label span:after { background-color: $bg-works; }
      }
    }
  }
}