{% extends "layouts/default.html" %}

{% block seccion %}home{% endblock %}

{% block content %}
	<h1>Ami Reynoso</h1>
	<p>23 years-old front-end web developer from Buenos Aires, Argentina.</p>
	<p>Image and Sound Design graduate at University of Palermo.</p>
	<p>Clean code and pixel-perfect advocate.</p>
	<p class="tagline">Looking for new challenges.</p>
	<ul class="social">
	    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
	    <li><a href=""><i class="fa fa-github"></i></a></li>
	    <li><a href=""><i class="fa fa-twitter"></i></a></li>
	</ul>
{% endblock %}